.cts_loader {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    opacity: 0.5;
}

.cts_loader img {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}